@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');
body{
    background: url(back1.png) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Bayon', sans-serif;
}
h1{
    font-size: 26pt;
}
#n2{
    text-align: center;
}
#container{
    text-align: center;
    width: 1080px;
    height: 500px;
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}
.container{
    position: relative;
    overflow: hidden;
    transform: translateY(-50%);
    padding: 40px;
}
#c_left{  
    width: 50%;
    float: left;
    height: 100%;
    background-color: #8babda;
}
#c_right{
    width: 50%;
    height: 100%;
    background-color: #8869f6;
    float: right;
    text-align: justify;
}
.content{
    position: relative;
    top: 90px;
}
input{
    width: 65%;
    padding: 12px 15px;
    border-width: 4px;
    background-color: #ffffff;
    border-radius: 30px;
    border-color: #8869f6;
}
/* Parámetros BOTÓN FACHERO */
.btn {
    position: relative; top: 10px;
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: black;
  }
  
  .btn .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  }
  
  .btn:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #ffffff;
  }
  
  .btn:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }
  
  .btn:hover .text {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  }

  